{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'listagem_producoes' %}">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'listagem_producoes' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'producao' %}">Adicionar novo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Lista prioridades</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Mais ações</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Diretores</a></li>
              <li><a class="dropdown-item" href="#">Estudios</a></li>
              <li><a class="dropdown-item" href="#">Generos</a></li>
              <li><a class="dropdown-item" href="#">Não assistidos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>